@page {
  size: A4;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: mono;
  width: 100%;
  height: 100%;
}

div {
  position: relative;
  display: block;
  width: 21cm;
  min-height: 29.7cm;

}

div#page1 {

  background-image: url("./images/Fourmi-pique-nique.jpg");
  /*background-size: cover;*/
}

div#page2 {
  background-image: url("./images/figures-femmes-schematiques-art-prehistoriques-perigord.jpg");
}

div#page3 {
    background-image: url("./images/logo.png");
  /*background-size: cover;*/
}

h1 {
  color: white;
  background: blue;
  margin-bottom: 50px;
}

p {
  color: blue;
  background: white;
  text-align: center;
}

.important {
  font-size: 6px;
  font-style: italic;
  border: 3px solid yellow;

}
div#page4 {
    background: gray;
  /*background-size: cover;*/
}

h1 {
  color: white;
  background: blue;
  margin-bottom: 50px;
}

p {
  color: blue;
  background: white;
  text-align: center;
}

.important {
  font-size: 6px;
  font-style: italic;
  border: 3px solid yellow;

}
